body {
    font-family: Arial, sans-serif;
    background: #f0f1f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    padding: 25px;
    width: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    background: #4af759;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #64d334;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 6px;
    margin-top: 10px;
}